// HEADER

header {
  margin: 3.5rem 3rem 1rem 3rem;
}

.header__brand {
  font-size: 1.3rem;
  color: #777;
}

.header__button-checkout {
  margin-right: 1.5rem;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  @include btn-common;
}

.header__button-update {
  display: none;
}

.header-items {
  @include centralize-space;
}

@media (max-width: 880px) {
  header {
    margin: 1.5rem 1rem 1rem 1rem;
  }

  .header__brand {
    font-size: 2rem;
  }

  .header__button-checkout {
    display: none;
  }

  .header__button-update {
    color: #fff;
    padding: 9px 19px;
    font-size: 0.9rem;
    background-color: #000;
    @include btn-common;
    display: inline;
  }

  .header-items {
    @include centralize-space;
    align-items: center;
  }
}
