/* PRODUCT ITEM */

.product-item {
  @include centralize-space;
  margin: 1rem 2.7rem;
  align-items: center;

  &__product-img img {
    min-width: 100px;
    min-height: 100px;
  }

  &__cancel-btn {
    background: transparent;
    @include btn-common;
  }

  &__cancel {
    transition: all 0.2s ease;
  }

  &__cancel:active {
    opacity: 0.5;
    transform: scale(1.6);
  }

  &__product-qty {
    display: flex;
  }

  &__product-qty .btn,
  span.product-qty {
    height: 30px;
    width: 30px;
  }

  &__product-qty img:first-child {
    height: auto;
  }
}

.btn-plus,
.btn-minus,
.product-qty {
  width: 25px;
  height: 25px;
}

.product-qty {
  text-align: center;
  @include centralize;
  border: 1px solid black;
}

/* MEDIA QUERIES */

@media (max-width: 880px) {
  /* PRODUCT ITEM */

  .product-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .product-item__product-qty img:first-child {
    display: none;
  }

  .product-item__product-img img {
    max-width: 100px;
    max-height: 100px;
  }

  .btn-plus,
  .btn-minus,
  .product-qty {
    min-width: 65px;
    height: 25px;
  }

  .product-qty {
    width: 25px;
    height: 25px;
    text-align: center;
    @include centralize;
    border: 1px solid black;
  }
}
