/* SHIPPING SCREEN */

.cart-container {
  &__ship-screen {
    flex: 4;
  }

  &__ship-content {
    max-width: 90%;
    margin: auto;
    height: 70%;
  }

  &__ship-content {
    height: 500px;
  }
}

.shipping-container {
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 5% 8%;
  width: 100%;
  height: 40px;
  background: rgb(241, 237, 237);
  border: 1px solid #bbb;
  @include centralize-space;
  align-items: center;
}

.cart-totals {
  border: 1px solid #bbb;
  height: auto;
}

.cart-totals > div:first-child {
  padding: 5% 8%;
  display: flex;
  align-items: center;
  font-weight: 700;
  background: rgb(241, 237, 237);
  border-bottom: 1px solid #bbb;
}

.totals-wrapper {
  padding: 1rem 2rem;
  height: 250px;
  background: rgb(250, 248, 248);
}

.subtotal {
  &__display {
    margin: 10px 0 20px 0;
    padding-bottom: 10px;
    @include centralize-space;
    color: grey;
    font-weight: 700;
    border-bottom: 2px solid $smoke-color;
  }
}

.grand-total {
  &__price {
    font-size: 1.2rem;
    color: black;
  }

  &__display {
    margin: 20px 0 20px 0;
    padding-bottom: 10px;
    @include centralize-space;
    color: grey;
    font-weight: 700;
  }
}

.ship-checkout {
  margin: 10px;
  display: flex;
  justify-content: center;
  color: grey;
  font-weight: 700;

  &__btn {
    margin-top: 5%;
    width: 400px;
    height: 70px;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: #000;
    @include btn-common;
    font-weight: 700;
    font-size: 1rem;
  }
}

/* MEDIA QUERIES */

@media (max-width: 881px) and (min-width: 641px) {
  .shipping-container div:first-child {
    @include total-style;
  }

  .shipping-container div:last-child {
    @include total-style;
  }

  .subtotal__display span:first-child {
    @include total-style;
  }

  .subtotal__display span:last-child {
    @include total-style;
  }

  .grand-total__display span:first-child {
    @include total-style;
  }

  .grand-total__display span:last-child {
    @include total-style;
  }
}

@media (max-width: 880px) {
  /* SHIPPING SCREEN */

  .cart-container__ship-screen {
    flex: 4;
    border: none;
    order: -1;
  }

  .cart-container__ship-content {
    max-width: 100%;
    margin: auto;
    height: 100%;
  }

  .shipping-container {
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding: 5% 8%;
    width: 100%;
    height: 40px;
    @include centralize-space;
    align-items: center;
  }

  .cart-totals > div:first-child {
    @include centralize;
  }

  .totals-wrapper {
    padding: 0.5rem 0.8rem;
    height: 100%;
    background: rgb(250, 248, 248);
  }

  .ship-checkout {
    margin-bottom: 10px;
  }

  .ship-checkout__btn {
    width: 90vw;
    height: 70px;
    color: #fff;
  }
}
