@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "base";
@import "cart-footer";
@import "cart";
@import "header";
@import "messages";
@import "product-item";
@import "shipping-screen";

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

/* MEDIA QUERIES */

@media (max-width: 880px) {
  .cart-container {
    flex-direction: column;
  }

  body {
    height: auto;
    width: auto;
  }
}
